[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faster-whisper = "*"
moviepy = "*"
python-multipart = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
pytube = "*"
tqdm = "*"
requests = "*"

[requires]
python_version = "3.11"
